<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <%- include("./parts/back.ejs") %>
    <section>
        <article>
            <div class="contacts_wrap">
                <h4><%= DATA.langPack.title %></h4>
                <a href="mailto:<%= DATA.langPack.email %>"><%= DATA.langPack.email %></a>
                <a href="tel:><%= DATA.langPack.tel %>"><%= DATA.langPack.tel %></a>
            </div>
        </article>
    </section>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>