<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <%- include("./parts/back.ejs") %>
    <section>
        <%- include("./parts/content.ejs") %>
    </section>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>