<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <%- include("./parts/back.ejs") %>
    <section>
        <article>
            <% if (DATA.authorization === '1') { %>
                <% if (DATA.language === 'none') { %>
                    <%- include("./parts/nolang.ejs") %>
                <% } else { %>
                    <p>repeat</p>

                <% } %>
            <% } else { %>
                <p><%= DATA.langPack.notauthorized %></p>
            <% } %>
        </article>
    </section>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>