<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <p class="settings_error"><span></span><b><%= DATA.langPack.error %></b></p>
    <%- include("./parts/header.ejs") %>
    <%- include("./parts/back.ejs") %>
    <section>
        <article>
            <h3><%= DATA.langPack.title %><span class="title_line"></span></h3>
            <% if (DATA.authorization === '1') { %>
                <div class="settings_wrap">
                    <div class="box">
                        <p class="name"><%= DATA.langPack.interface %></p>
                        <div class="body">
                            <div class="localization">
                                <% if (DATA.localization === 'en-GB') { %>
                                    <button class="active" onclick="settings.localization('en-GB')">
                                        <p><%= DATA.langPack.en %></p>
                                        <span></span>
                                    </button>
                                <% } else { %>
                                    <button onclick="settings.localization('en-GB')">
                                        <p><%= DATA.langPack.en %></p>
                                        <span></span>
                                    </button>
                                <% } %>
                                <% if (DATA.localization === 'my') { %>
                                    <button class="active" onclick="settings.localization('my')">
                                        <p><%= DATA.langPack.lang %></p>
                                        <span></span>
                                    </button>
                                <% } else { %>
                                    <button onclick="settings.localization('my')">
                                        <p><%= DATA.langPack.lang %></p>
                                        <span></span>
                                    </button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p class="name"><%= DATA.langPack.lang %></p>
                        <div class="body">
                            <div class="language">
                                <% for(var i=0; i < DATA.langlist.length; i++) { %>
                                    <% if (DATA.langlist[i] === DATA.language) { %>
                                        <button class="active" onclick="settings.language('<%= DATA.langlist[i] %>')"><img src="/img/lang/<%= DATA.langlist[i] %>.png" alt="<%= DATA.langlist[i] %>"></button>
                                    <% } else { %>
                                        <button onclick="settings.language('<%= DATA.langlist[i] %>')"><img src="/img/lang/<%= DATA.langlist[i] %>.png" alt="<%= DATA.langlist[i] %>"></button>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p class="name"><%= DATA.langPack.type %></p>
                        <div class="body">
                            <div class="voice">
                                <select onchange="settings.voice(this)">
                                    <% for(var i=0; i < DATA.voicelist.length; i++) { %>
                                        <% if (DATA.voicelist[i] === DATA.voice) { %>
                                            <option value="<%= DATA.voicelist[i] %>" selected><%= DATA.voicelist[i] %></option>
                                        <% } else { %>
                                            <option value="<%= DATA.voicelist[i] %>"><%= DATA.voicelist[i] %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p class="name"><%= DATA.langPack.speed %></p>
                        <div class="body">
                            <div class="speed">
                                <input type="range" min="0.5" max="2" value="<%= DATA.speed %>" step="0.1" onchange="settings.speed(this)">
                                <div id="speed_value"><%= DATA.speed %></div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p class="name"><%= DATA.langPack.pitch %></p>
                        <div class="body">
                            <div class="pitch">
                                <input type="range" min="0" max="2" value="<%= DATA.pitch %>" step="0.1" onchange="settings.pitch(this)">
                                <div id="pitch_value"><%= DATA.pitch %></div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p class="name"><%= DATA.langPack.color %></p>
                        <div class="body">
                            <div class="color">
                                <% for(var i=0; i < DATA.colorlist.length; i++) { %>
                                    <% if (DATA.colorlist[i] === DATA.color) { %>
                                        <button class="<%= DATA.colorlist[i] %> active" onclick="settings.color('<%= DATA.colorlist[i] %>')"></button>
                                    <% } else { %>
                                        <button class="<%= DATA.colorlist[i] %>" onclick="settings.color('<%= DATA.colorlist[i] %>')"></button>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <p><%= DATA.langPack.notauthorized %></p>
            <% } %>
        </article>
    </section>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>