<footer>
    <div class="footer_wrap">
        <ul>
            <li><a href="/about"><%= DATA.langPack.about %></a></li>
            <li><a href="/privacy-policy"><%= DATA.langPack.privacypolicy %></a></li>
            <li><a href="/contacts"><%= DATA.langPack.contacts %></a></li>
        </ul>
        <p><%= DATA.langPack.autor %></p>
        <p><strong><%= DATA.langPack.developer %></strong></p>
        <p>Copyright © 2023 <strong>repeatWords</strong></p>
    </div>
</footer>